@import "../js/colors";

.outer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.library {
    width: 90%;
    max-width: 600px;
}

.library-header {
    font-size: 22px;
    margin-top: 40px;
    padding: 20px;
}

.patterns-list {
    padding: 5px;
    border: 1px solid rgba(0,0,0,.1);
}

.no-patterns {
    opacity: 0.3;
    padding: 15px;
}

.pattern {
    cursor: pointer;
}

.library-button {
    padding: 5px;
    margin: 4px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    background: white;
}

.add-pattern {
    float: right;
    margin: 10px;
}